# Ignore target directory
target/
.metals/
.vscode/
# sbt specific
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
.bsp/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
*.iml
*.iws
*.ipr

# Metals specific
.metals/
.bloop/
metals.sbt

# Mac
.DS_Store

# Logs
*.log

# Other
*.class
*.swp
*~
src/main/scala/p99/.scala-build/*